{{- if .Params.downloads }}
  {{ $folderName := path.Base .File.Dir }}
  {{ $name := cond (and (ne .Slug "") (ne .Slug "index")) .Slug $folderName }}

  <!-- Use a flex container for all download blocks -->
  <div class="btn-group" role="group" aria-label="Basic example">

    <!-- <div style="display: flex; gap: 1rem; flex-wrap: wrap; align-items: start;"> -->
    

        <a aria-label="download-icon" href="#!" class="btn btn-outline-primary btn-sm position-relative disabled" aria-disabled="true" role="button">
          <svg xmlns="http://www.w3.org/2000/svg" 
            style="width: 1em; height: 1em; vertical-align: middle; margin-right: 0.25em;"
            fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
          </svg>

<!--
        <span class="d-flex justify-content-center">
            <span class="my-auto">Downloads:</span>
        </span>
-->
        </a>

    {{- range $label, $files := .Params.downloads }}
        <a class="btn btn-outline-primary btn-sm position-relaive"
           role="button" 
           href="/zips/{{ printf "%s-%s" $name ($label | urlize) }}.zip"
           download>
          {{ title $label }}
        </a>
    {{- end }}
  </div>

    {{- range $label, $files := .Params.downloads }}
      <div class="download-example-block"
           data-downloads-uid="{{ printf "%s-%s" $name ($label | urlize) }}"
           data-downloads-files="{{ delimit $files "|" }}"
           >
        <!-- Optional hidden list of files (for the post-build script) -->
        <ul style="visibility: hidden; margin: 0; padding: 0;">
          {{- range $files }}
            <li>{{ . }}</li>
          {{- end }}
        </ul>
        <!-- 
        <a class="btn btn-secondary btn-outline-secondary position-relaive"
           role="button" 
           href="/zips/{{ printf "%s-%s" $name ($label | urlize) }}.zip"
           download>
          Download {{ $label }}
        </a>
        -->
      </div>
    {{- end }}

{{- end }}

